:root{
    --dark-blue: #222831;
    --soft-blue: #2d4059;
    --red:#ff5722;
    --grey: #eeeeee;
  }

  @font-face {
    font-family: "Ubuntu-Mono";
    src: url("../assets/fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf");
  }
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Ubuntu-Mono";
  }
  
  .container {
    /* background-color: #2d4059; */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: start;
    text-align: center;
    align-items: center;
    flex-direction: column;
    transition: background-color 0.1s ease-in;
  }
  .container>div{
    width: 40%;
    text-align: start;
  }
  .btn{
    background-color: var(--red);
    color: var(--grey);
    border-radius: 5px;
    width: 200px;
    padding: 20px;
    cursor: pointer;
    user-select: none;
    top: 0;
  }
  .btn:hover{
    background-color: var(--grey);
    color: var(--red);
  }

  .main-container{
    height: 99vh;
    width: 99vw;
    position: absolute;
    top: 0;
    z-index: -1;
    margin-left: 0.5vw;
    margin-top: 0.5vh;
    /* background-color: rgb(0, 0, 0, 0.9); */
  }
  .new-div{
    width: 9vw;
    height: 9vh;
    background-color: green;
    border: 1px solid black;
  }