@font-face {
    font-family: "roboto-regular";
    src: url("fonts/Roboto/Roboto-Regular.ttf");
  }
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

img{
    height: 100px;
}
h2{
    font-size: 15px;
}
header{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.recipes{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    gap: 60px;
    flex-wrap: wrap;
    width: 80vw;
}
.formContact{
    height: 150px;
    width: 500px;
}
.formContact>form>button{
    padding: 15px 25px;
    width: 10px;
}
.formContact form{
    display: flex;
    flex-direction: column;
}
body{
    font-family: "roboto-regular";
    min-height: 100vh;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    background-color: burlywood;
    background-image: linear-gradient(147deg, burlywood 90%, #000000 170%);
    text-decoration: none;
    padding: 15px 30px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    width: fit-content;
}
a:hover{
    background-color: white;
    background-image: linear-gradient(147deg, white 90%, #000000 170%);
    color: burlywood;

}
.myArticle{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    color: black;
    border: 2px solid white;
    box-shadow: 5px 5px 0px lightgreen,-5px -5px 0px lightcoral;
    border-radius: 25px;
    padding: 15px;
    background-color: burlywood;
}
.myArticle:hover{
    box-shadow: 8px 8px 0px lightgreen,-8px -8px 0px lightcoral;
    transition: 0.2s;

}
.myArticle h3{
    text-decoration: underline;
}
.myArticle img{
    object-fit: scale-down;
    object-position: center;
    filter: drop-shadow(0 3px 0.5rem black);
    border-radius: 50px;
}