@font-face {
    font-family: "roboto-regular";
    src: url("fonts/Roboto/Roboto-Regular.ttf");
  }
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

img{
    height: 250px;
}
header{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
main{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    gap: 60px;
    flex-wrap: wrap;
}
body{
    /* background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%); */
    font-family: "roboto-regular";
    min-height: 100vh;
    user-select: none;
}

a{
    background-color: lightgreen;
    background-image: linear-gradient(147deg, lightgreen 0%, #000000 170%);
    text-decoration: none;
    padding: 15px 30px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    width: fit-content;
}
.myArticle{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    color: black;
    border: 6px solid WHITE;
    box-shadow: 8px 8px 0px lightgreen,-8px -8px 0px lightcoral;
    border-radius: 25px;
    padding: 15px;
    background-color: rgb(228, 227, 227);
}
.myArticle:hover{
    box-shadow: 12px 12px 0px lightgreen,-12px -12px 0px lightcoral;
    transition: 0.2s;

}
.myArticle h3{
    text-decoration: underline;
}
.myArticle img{
    object-fit: cover;
    object-position: center;
}