:root{
    --primary-color:rgba(8, 1, 42, 0.8);
    --secondary-color: #00000066;
    --background-btn: #2e572e;

    --colorGreen: #2e572e;
    --colorYellow: #d9b500;
    --colorRed: rgb(138, 0, 0);
}
@font-face {
    font-family: "roboto-regular";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

*,
::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "roboto-regular";
}
.BMIContainer{
    /* background-color: #c15715; */
    background: rgb(24, 23, 23);
    height: 100vh;
    display: flex;
    justify-content: center;
}
.main-container{
    border-radius: 500px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: rgb(221, 219, 219);
    width: 80vw;
    height: 60vh;
    margin-top: 5%;
    box-shadow: 0px 0px 8px white;
    border: 8px solid rgb(24, 23, 23);
    position: relative;
    user-select: none;
    padding: 4.5% 0;
}
.main-container>p{
    font-size: 28px;
}
.main-container>h1{
    font-size: 48px;
    color: #c15715;
    font-weight: 500;
}
h1>span{
    font-weight: bolder;
}
.inputsTaillePoids{
    display: flex;
    gap: 100px;
    margin: 15px 0;
}
.inputsTaillePoids input{
    width: 350px;
    height: 50px;
    border-radius: 5px;
    border: 0px;
    box-shadow: 2px 2px 5px black;
    padding-left: 15px;
}
.submitIMC{
    padding: 20px 40px;
    background-color: #c15715;
    border-radius: 5px;
    cursor: pointer;
}
.resultIMC{
    position: absolute;
    transform: translate(0,-50%);
    top: 100%;
    background: rgb(184, 184, 184);
    padding: 10px 70px;
    font-size: 2rem !important;
    border-radius: 50px;
    box-shadow: 0px 0px 8px black;
    border: 5px solid rgb(24, 23, 23);
}

.midnightblue{
    color: midnightblue;
}
.green{
    color: green;
}
.lightcoral{
    color: lightcoral;
}
.orange{
    color: orange;
}
.crimson{
    color: crimson;
}
.purple{
    color: purple;
}