$colorPrimary: white;
$colorSecondary: #3c3c61;
$colorOptional1: #EF4D55;
$colorOptional2: #042e99;
$fontRobotoRegular: 'roboto-regular';
$fontRobotoBlack: 'roboto-black';
$color1: black;
$color2: white;