.App-logo {
  pointer-events: none;
  height: 80px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  min-height: 100vh;
  margin: 0;
}
.myHeader{
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.myFooter{
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  bottom: 0;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.myFooter>section{
  width: 33%;
}
.myHeader>ul{
  display: flex;
  list-style: none;
  gap: 50px;
  width: 100%;
  padding-left: 20px;
}
.myMain{
  display: flex;
  justify-content: space-around;
  min-height: 100%;
  flex-direction: column;
  margin: 50px;
}
.myMain img{
  border-radius: 50px;
  height: 200px;
}
.myMain>section{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}
a{
  text-decoration: none;
  color: black;
}
a:visited{
  color: black;
}
.myHeader>ul>li:first-child{
  margin-right: auto;
}
.myHeader>ul{
  padding-right: 100px;
  align-items: center;
}
.myHeader>ul>li:first-child a{
  height: 80px;
  display: inline-block;
}
.searchBar{
  padding: 5px 20px;
  margin: 20px;
  border-radius: 5px;
}
.cardCategory{
  display: flex;
  flex-direction: column;
}

.cardCategoryHeader{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
.cardCategoryHeader img{
  height: 150px;
  object-fit: scale-down;
}

.cardCategoryHeader h1, .cardCategoryHeader img{
  width: 30%;
}
.cardCategoryHeader a{
  padding: 10px 25px;
  background-color: greenyellow;
  border-radius: 10px;
}

.cardMealSection {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cardMealSection h1{
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: auto;
}
.cardMeal{
  text-align: center;
}